@font-face {
    font-family: 'ZFPrometo';
    src: url('EOT/ZFPrometo_W_Lt.eot');
    src: url('EOT/ZFPrometo_W_Lt.eot?#iefix') format('embedded-opentype'),
         url('WOFF/ZFPrometo_W_Lt.woff') format('woff'),
         url('WOFF2/ZFPrometo_W_Lt.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'ZFPrometo';
    src: url('EOT/ZFPrometo_W_Md.eot');
    src: url('EOT/ZFPrometo_W_Md.eot?#iefix') format('embedded-opentype'),
         url('WOFF/ZFPrometo_W_Md.woff') format('woff'),
         url('WOFF2/ZFPrometo_W_Md.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
}

body {
    font-family: 'ZFPrometo', Arial, sans-serif !important;
    font-weight: 300;
}

h1 {
    font-family: 'ZFPrometo', Arial, sans-serif !important;
    font-size: 3.0em;    
    color: #3399ff;
    border: 2px solid #000000;
    padding: 0.3em 0.3em;
    border-radius: 6px;
    background: transparent;
    margin: 0 auto;
    text-align: center;
    width: 100%;
    max-width: 1000px; /* or any desired max width  #01b8eb*/
}

h2 {
    font-family: 'ZFPrometo', Arial, sans-serif !important;
    font-size: 3.0em;
    color: #3399ff;
}

h3 {
    font-family: 'ZFPrometo', Arial, sans-serif !important;
    font-size: 2.2em;
    color: #3399ff;
}

p {
    font-family: 'ZFPrometo', Arial, sans-serif !important;
    color: var(--text-color);
}
